@media (max-width: 350px) {

    .layout__search{
        flex-direction: column;
    }

    .location__icon{
        display: none;
    }

    #city{
        margin-bottom: 1rem;
        width: 95%;
    }

    button{
        width: 100%;
    }

    .wind__separator, 
    .humidity__separator {
        display: none;
    }

    .humidity__info{
        margin-left: 0;
    }

    .weather__temperature{
        font-size: 50px;
    }

    .wind__icon,
    .humidity__icon {
        display: none;
    }

    .wind__info,
    .humidity__info {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: fit-content;
    }

    .margin{
        margin-right: 0 !important;
    }

}

@media (max-width: 768px) {
    #result6{
        display: none;
    }

    .result2__margin{
        margin-top: 2rem;
    }

    #result7{
        display: none;
    }
}

@media (min-width: 768px) {
   .layout{
        display: grid;
        grid-template-areas: 
        "search search search"
        "icon result result"
        "result2 result2 result2"
        "result7 result7 result7"
        "result3 result6 result6"
        "result4 result6 result6";
        grid-gap: 1rem;
        justify-content: center;
        grid-template-columns: 30% 30% 30%;
    }   


    .layout__search{
        grid-area: search;
        justify-content: center;
    }

    #icon__container{
        grid-area: icon;
        align-self: center;
        height: auto;
    }

    .icon__weather{
        width: 150px;
        height: 150px;
    }

    .weather__temperature{
        font-size: 85px;
        margin-bottom: -20px !important;
    }

    .weather__description {
        font-size: 30px;
    }

    #result{
        grid-area: result;
    }

    #result2{
        grid-area: result2;
        font-size: 18px;
    }

    #result5{
        display: none;
    }

    #result3{
        grid-area: result3;
        font-size: 18px;
    }

    #result4{
        grid-area: result4;
        font-size: 18px;
    }

    #result6{
        display: none;
        grid-area: result6;
        flex-direction: column;
    }

    .suggestion__text{
        color: #ddddddc5;
        text-shadow: none;
        font-size: 19px;
        text-align: start;
        margin-left: 1.2rem;
    }

    #result6b{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .rainHour,
    .forecastHour,
    .citiesWeather{
        padding: 1rem;
        border: 1px solid #dddddd30;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }

    #city{
        width: auto;
    }

    #result,
    #result2,
    #result4,
    #result5{
        height: fit-content;
    }


    #result,
    #result2,
    #result3,
    #result4,
    #result6,
    #result7 {
        background-color: #accffd8c;
        text-shadow: 0px 0px 5px rgba(13, 12, 75, 0.5);
        border: none;
    }

    .result--night{
        background-color: #0b18298c !important;
        text-shadow: 0px 0px 5px rgba(13, 12, 75, 0.5);
        border: none;
    }

    .forecast__box{
        display: flex;
        flex-direction: row;
        align-content: center;
        margin-left: 1.2rem;
    }

    .forecast__text{
        font-size: 18px;
    }

    .forecast__icon{
        align-self: center;
        margin-right: 10px;
    }
    
    #result7{
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        color: white;
        text-shadow: 0px 0px 5px rgba(13, 12, 75, 0.5);
        text-align: center;
        font-size: 16px;
        grid-area: result7;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        padding: 2rem 0;
    }
}

